.debug{
  background-color: rgb(93, 93, 93);

}

/*header*/
header{
  background-color: #ffffff;
  height: 70px;
  border-top: 14px solid #f8f9fa;
  border-bottom: 14px solid #f8f9fa;
}

.logo{
  color: #001632;
  font-size: 1.5rem;
  font-weight: bold;
  width: 140px;
  padding-right:10px;
}

.logo_img{
  height: 40px;
  width: 40px;
}

.icon_top_right{
width: 160px;
}

.input-group-text,.form-control{
  background-color: #e5e5e5;
}

.bell{
  width: 40px;
  margin-left:15px;
}

.col_left_blue{
  width: 150px;
}
/*main*/
/*layout*/
.row_1{
padding: 0px ;
}

.col_left{
  background-color: #051e34;
  width: 150px;
  height: calc( 100vh - 70px)
  }

  .col_right{
    width: 100%;
    background-color: #e5e5e5;
    overflow-y: auto;
  }

/*nav*/
.nav{
height: 122px;
background-color: #1b72e8;
}

.bg_blue{
  background-color: #165BBA;
}

.width-canvas{
  min-width: 600px;
}
.icon-navbar{
  font-size: 3rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .col_left{
    background-color: #051e34;
    width: 80px;
    height: calc( 100vh - 70px)
    }

    .nav{
      height: 265px;
      background-color: #1b72e8;
      }
}

@media screen and (max-width: 1000px) {
  .nav{
    height:200px;
    background-color: #1b72e8;
    }
}